@model Villa_Web.ViewModels.CreateVillaNumberVM

<div class="container p-4 border">
    <h2 class="text-primary">Create New VillaNumber</h2>
    <hr />

    <form asp-action="CreateVillaNumber" method="post">
        <div asp-validation-summary="All" class="text-danger"  ></div>
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="VillaNumber.VillaNo" class="form-label">Villa Number</label>
            <input asp-for="VillaNumber.VillaNo" class="form-control" />
            <span asp-validation-for="VillaNumber.VillaNo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="VillaNumber.VillaId" class="form-label">Villa Id</label>
            <select asp-for="VillaNumber.VillaId" class="form-select" asp-items="@Model.VillaList" >
                <option disabled selected>--Select Villa--</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="VillaNumber.Details" class="form-label">Description</label>
            <textarea asp-for="VillaNumber.Details" class="form-control"></textarea>
        </div>
        <div class="text-end">
            <input type="submit" value="Create" class="btn btn-success from-control" />

            <a asp-action="IndexVillaNumber" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
