@model IEnumerable<Villa_Web.Dtos.VillaDtos.ReadVillaDto>
<br/>
<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary"> Villas List</h1>
		</div>
	</div>
</div>
